.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mobile {
    width: 320px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

body {
  // background: linear-gradient(
  //   0deg,
  //   rgba(164, 107, 112, 1) 36%,
  //   rgba(121, 38, 45, 1) 68%,
  //   rgba(43, 47, 56, 1) 90%
  // );
  background-color: rgb(243, 235, 235);
  font-family: 'Roboto';
  font-style: normal;
}
