<header class="header">
    <div class="container header-container">
      <nav>
        <a href="./index.html" class="logo-link">
            <svg class="header-logo" width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-film"></use>
            </svg>
            <p class="logo-text">Filmoteka</p>
          </a>
          <ul class="pages-list list">
            <li class="pages-item"><a href="./index.html" class="pages-link">Home</a></li>
            <li class="pages-item"><a href="./my-library.html" class="pages-link">my library</a></li>
          </ul>
        </nav>
          <form class="search-form js-search-form">
            <input id="search" type="text" name="searchQuery" placeholder="Movie search"/>
            <button type="submit" class="search-btn">
              <svg class="search-icon" width="12" heigh="12">
              <use href="./images/symbol-defs.svg#icon-search"></use>
            </svg></button>
           </form> 
    </div>
</header>