<section>
     <!-- <h2 class="visually-hidden">Hero</h2> -->
    <div class=" hero-container js-photos-container">
      <ul class="hero-list">
        <!-- <li class="hero-item">
            <div class="hero-thumb">
              <img src="" alt="">
            </div>
            <div class="hero-info">
              <p class="film-title">GREYHOUND</p>
              <p class="film-info">Drama, Action |</p>
              <p class="film-info">2020</p>
            </div>
        </li>
        <li class="hero-item">
          <div class="hero-thumb">
            <img src="" alt="">
          </div>
          <div class="hero-info">
            <p class="film-title">GREYHOUND</p>
            <p class="film-info">Drama, Action |</p>
            <p class="film-info">2020</p>
          </div>
      </li>
      <li class="hero-item">
        <div class="hero-thumb">
          <img src="" alt="">
        </div>
        <div class="hero-info">
          <p class="film-title">GREYHOUND</p>
          <p class="film-info">Drama, Action |</p>
          <p class="film-info">2020</p>
        </div>
    </li>
    <li class="hero-item">
      <div class="hero-thumb">
        <img src="" alt="">
      </div>
      <div class="hero-info">
        <p class="film-title">GREYHOUND</p>
        <p class="film-info">Drama, Action |</p>
        <p class="film-info">2020</p>
      </div>
  </li> -->
      </ul>
    
    </div>

</section>
