.tui-pagination .tui-page-btn {
  color: black !important;
  border: none !important;
  transition: linear 300ms !important;
  border-radius: 10px !important;
  background-color: white !important;
  margin: 0 3px !important;
}

// a.tui-page-btn:hover {
//   background-color: transparent !important;
//   border: 1px solid orange !important;
//   border-radius: 10px;
// }

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  width: 40px !important;
  height: 40px !important;
  color: white !important;
  background-color: orange !important;
  border: none !important;
  border-radius: 10px !important;
  line-height: 2.1 !important;
  @media screen and (max-width: 767px) {
    width: 30px !important;
    height: 30px !important;
    line-height: 1.4 !important;
  }
}

.tui-pagination .tui-prev-is-ellip {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.tui-pagination .tui-next-is-ellip {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

a.tui-page-btn.tui-,
.tui-page-btn.tui-is-disabled.tui-first,
.tui-page-btn.tui-is-disabled.tui-prev {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}
