.tui-pagination .tui-page-btn {
  color: black !important;
  border: none !important;
}

.tui-page-btn:hover {
  background-color: transparent !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  width: 40px !important;
  height: 40px !important;
  color: white !important;
  background-color: orange !important;
  border: none !important;
  border-radius: 10px !important;
  line-height: 2.1 !important;
}

.hiden {
  display: none !important;
}
