.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
.btn-up {
    position: fixed;
    bottom: 35vh;
    right: 1vw;
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #2ee653;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    color: #ffffff;
    cursor: pointer;
}

.btn-up:hover {
    background-color: #8abdf0;
    transition: all 0.3s;
}

.btn-up-images {
    border: none;
    height:100%;
    width: 100%;
    stroke: aqua;
}
