// .hero-section {
//   background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(121,38,45,1) 76%, rgba(43,47,56,1) 100%);
//   // height: 100vh;
// }
.hero-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    padding-top: 43px;
    padding-left: 16px;
    padding-right: 16px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 52px;
    width: 1200px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.hero-list {
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero-item {
  list-style: none;
  margin-top: 20px;
  height: 440px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  // &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 25px;
    }
  @media screen and (min-width: 768px) {
    height: 495px;
    width: calc((100% - 2 * 44px) / 2);
    margin: 22px;
  }
  @media screen and (min-width: 1200px) {
    height: 634px;
    height: auto;
    width: calc((100% - 6 * 8px) / 3);
    margin: 8px;
  }
}
.hero-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.hero-item .overlay-btn-youtube-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25px;
  width: 230px;

  pointer-events: none;
  font-family: 'Roboto', sans-serif;

  background-color: rgba(255, 255, 255, 0.8);

  border-radius: 5px;
  top: 3px;
  left: 180px;
  z-index: 2;
  opacity: 0;
  transform: translateX(-63%);
  transition: all 400ms ease-in;
}
.hero-item:hover .overlay-btn-youtube-text {
  display: flex;
  opacity: 1;
  transform: translateX(-63%);
}
// .hero-item:focus {
//   border-radius: 5px;
//   border: 2px solid transparent;
//   background:  linear-gradient(to right, #ff0000 0%, #1000ff 100%) border-box;
//   animation: spin 5s linear infinite;
//   cursor: pointer;
// }

.hero-thumb {
  width: 100%;
}
.img-item {
  display: block;
  width: 100%;
  border-radius: 5px;
  //  height: 402px;
  @media screen and (min-width: 768px) {
    // height: 455px;
    // width: 336px;
  }
  @media screen and (min-width: 1200px) {
    height: auto;
  }
}
.hero-info {
  margin-top: 5px;
  padding-left: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}
.film-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.film-info {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #f3b909;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.hidden {
  display: none;
}

.removed {
  display: none;
}
