.hero-section {
  background-color: rgb(6, 54, 54);
  // height: 100vh;
}
.hero-container {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
   
  
    @media screen and (min-width: 320px) {
      width: 320px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
      margin: 0 auto;
      padding-top: 43px;
      padding-left: 16px;
      padding-right: 16px;
    }
  
    @media screen and (min-width: 1200px) {
        padding-top: 52px;  
      width: 1200px;
      padding-left: 24px;
      padding-right: 24px;;
    }
  }

.hero-list {
    width: 100%;
    margin: 0;
    padding-left:0;
    list-style: none;

    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
}  
.hero-item {
    list-style: none;
    margin-top: 20px;
    height: 440px;
    background-color: rgb(12, 97, 97);
    &:not(:last-child) {
        @media screen and (max-width: 767px){
                margin-bottom: 20px;        
    }
}
@media screen and (min-width: 768px) {
    height: 495px;
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        height: 634px;
        width:  calc((100% - 6 * 8px)/3);
        margin: 8px;
      }
}
.hero-item:hover {
  // @keyframes spin {
  //   from {transform: translate(-50%, -50%) rotate(0);}
  //   to   {transform: translate(-50%, -50%) rotate(360deg);}
  // }
    border-radius: 5px;
    border: 2px solid transparent;
    background:  linear-gradient(to right, #ff0000 0%, #1000ff 100%) border-box;
    animation: spin 5s linear infinite;
    cursor: pointer;
    
}
// .hero-item:focus {
//   border-radius: 5px;
//   border: 2px solid transparent;
//   background:  linear-gradient(to right, #ff0000 0%, #1000ff 100%) border-box;
//   animation: spin 5s linear infinite;
//   cursor: pointer;
// }

.hero-thumb {
  width: 100%;
   
}
.img-item {
    display: block;
    width: 100%;
    border-radius: 5px;
   height: 402px;
   @media screen and (min-width: 768px) {
    height: 455px;
    // width: 336px;
   
}
@media screen and (min-width: 1200px) {
  height: 574px;
}

}
.hero-info {
    margin-top: 5px;
    @media screen and (min-width: 768px) {
        margin-top: 8px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 12px;
      }
}
.film-title {
    font-weight: 500;
    color: #8abdf0;
font-size: 12px;
line-height: 16px;
@media screen and (min-width: 1200px) {
    font-size: 20px;
line-height: 24px;
  }
}
.film-info {
    display: inline-block;
    font-weight: 500;
font-size: 12px;
line-height: 14px;
color: #f3b909;
@media screen and (min-width: 1200px) {
    font-size: 20px;
line-height: 24px;
  }
}

