.modal-main {
  &__btn-close {
    @media screen and (min-width: 320px) {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-color: white;
      color: #000000;
      border: none;
      cursor: pointer;
      z-index: 9;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;

      &:hover,
      &:focus {
        fill: #ff6b08;
        transform: scale(0.8);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  &__modal-card {
    position: relative;
    background-color: white;
    padding: 48px 20px;

    @media screen and (min-width: 768px) {
      padding: 42px 30px;
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      padding: 30px;
      // position: relative;
    }
  }

  &__modal-img {
    width: 240px;
    height: 357px;
    margin-bottom: 16px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
      width: 264px;
      height: 374px;
      margin-right: 68px;
    }

    @media screen and (min-width: 1200px) {
      width: 375px;
      height: 478px;
      margin-right: 16px;
    }
  }

  &__about-movie {
    @media screen and (min-width: 1200px) {
    }
  }
}

.about-movie {
  &__title {
    @media screen and (min-width: 320px) {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      width: 240px;
    }

    display: block;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #000;
    margin-bottom: 12px;
  }
  &__title--movie {
    @media screen and (min-width: 320px) {
      width: 260px;
    }

    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    color: #545454;
    margin-top: 8px;
  }

  &__about--rating {
    @media screen and (max-width: 1023px) {
      margin-left: 41px;
    }

    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    align-items: center;
    text-transform: uppercase;

    color: #ffff;

    background: #ff6b01;
    border-radius: 5px;
    width: 36px;
    height: 18px;
    padding-top: 3px;

    margin-left: 85px;
  }
  &__slech {
    font-size: 13px;
    padding: 0 3px;
  }

  &__text--black {
    display: block;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;

    background: #f7f7f7;
    border-radius: 5px;
    width: 36px;
    height: 18px;
    padding-top: 3px;

    color: #000;
  }
}

.modal__button-icon {
  fill: #000000;
}

.modal-container {
  @media screen and (min-width: 320px) {
    position: relative;
    width: 280px;
    max-height: 95vh;
    overflow: auto;
  }

  @media screen and (min-width: 768px) {
    width: 704px;
    min-height: 552px;
  }

  @media screen and (min-width: 1200px) {
    width: 806px;
  }
}

.modal-info {
  @media screen and (min-width: 320px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}

.modal-info-title {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #000000;
  }

  @media screen and (min-width: 1200px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
  }
}

.modal-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
  }
}

.modal-info-about {
  @media screen and (min-width: 320px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    color: #000000;
  }
}

.list__btn--add {
  display: flex;
  list-style: none;
  margin-top: 36px;
  justify-content: flex-start;
  position: relative;

  @media screen and (min-width: 1200px) {
    margin-left: 14px;
  }
}

.add__watched {
  @media screen and (min-width: 320px) {
    width: 110px;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  width: 136px;
  height: 44px;
  background: #fff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #000;

  &:hover,
  &:focus {
    transform: scale(0.9);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #ff6b01;
    border: 1px solid #ff6b01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #f7f7f7;
  }
}

.add__queue {
  @media screen and (min-width: 320px) {
    width: 110px;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  width: 136px;
  height: 44px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  margin-left: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #000;

  &:hover,
  &:focus {
    transform: scale(0.9);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: #ff6b01;
    border: 1px solid #ff6b01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #f7f7f7;
  }
}

.modal__about--text--popularity {
  @media screen and (max-width: 1023px) {
    margin-left: 53px;
  }

  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000;
  margin-left: 96px;
}

.about__movie--text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 8px;
}

.modal__about--text--original--title {
  @media screen and (max-width: 1023px) {
    margin-left: 39px;
    width: 130px;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  margin-left: 83px;
  color: #000;
}

.about__movie--text--content {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  max-width: 390px;
  margin-top: 8px;

  @media screen and (min-width: 768px) {
    max-width: 264px;
  }
}

.modal__about--text--genre {
  @media screen and (max-width: 1023px) {
    margin-left: 92px;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-left: 136px;

  color: #000;
}

.about__movie--text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-transform: uppercase;

  margin-top: 20px;
  margin-bottom: 8px;
}
