<header class="header-library header-library__overlay">
  <div class="container header-container">
    <nav>
      <a href="./index.html" class="logo-link">
        <svg class="header-logo" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <p class="logo-text">Filmoteka</p>
      </a>
      <ul class="pages-list list">
        <li class="pages-item">
          <a href="./index.html" class="pages-link">Home</a>
        </li>
        <li class="pages-item">
          <a href="./my-library.html" class="pages-link current">My library</a>
        </li>
      </ul>
    </nav>
    <div class="buttons-wrap">
      <button
        id="watched"
        type="submit"
        data-key="watched"
        class="header-library__button"
      >
        Watched
      </button>
      <button
        id="queue"
        type="submit"
        data-key="queue"
        class="header-library__button"
      >
        Queue
      </button>
    </div>
  </div>
</header>
